@import "@styles/_mixins";
.root {
  background: linear-gradient(90deg, #93a1bd 0%, #7b85a4 100%);
  &__wrapper {
    padding: 80px 0px 80px 104px;

    height: 75%;
    @include hd {
      padding: 70px 0px 70px 90px;
    }
    @include laptop {
      padding: 50px;
    }
    @include tablet {
      padding: 30px 50px 30px 50px;
    }
  }
  &__left_block {
    height: 100%;
    width: 50%;
    @include tablet {
      align-items: center;
      width: 100%;
    }
  }
  &__right_block {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    @include tablet {
      display: none !important;
    }
  }
  &__description {
    margin-top: 2rem;
    @include tablet {
      width: 100%;
      margin-top: 1rem;
    }
    @include phone {
      width: 100%;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }
  &__actions_block {
    margin-top: 2rem;
    width: 40%;
    @include laptop {
      width: 50%;
    }
    @include tablet {
      width: 80%;
      margin: 0.5rem;
    }
  }
}

.actions_block {
  display: flex;
  @include tablet {
    justify-content: center;
  }
}
.title {
  font-size: 48px;
  font-weight: 400;
  color: white;
  @include hd {
    font-size: 38px;
  }
  @include laptop {
    font-size: 30px;
  }
  @include phone {
    font-size: 16px;
  }
}

.description {
  font-weight: 400;
  color: white;
  font-size: 18px;
  @include hd {
    font-size: 16px;
  }
  @include laptop {
    font-size: 14px;
  }
  @include tablet {
    font-size: 16px;
  }
  @include phone {
    font-size: 10px;
  }
}

.left_block {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right_block {
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  img {
    max-width: none;
    height: 100%;
    margin-left: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
}
.wrapper {
  display: flex;
}
