@import "@styles/_mixins";
.root {
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  &__list {
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.33;
  @include tablet {
    font-size: 25px;
  }
  @include phone {
    font-size: 21px;
  }
}

.description {
  margin-top: 0;
  font-size: 20px;
  font-weight: 400;
  @include tablet {
    font-size: 17px;
  }
  @include phone {
    font-size: 14px;
  }
}
