@import "@styles/variables.module.scss";
.footer {
  &__container {
    position: relative;
    min-height: 300px;
    margin-top: auto;
    &__img {
      width: 100%;
      height: 100%;
    }
  }
}
