@import "@styles/variables.module.scss";
@import "@styles/_mixins";
.root {
  &__wrapper {
    position: relative;
    &:hover > .root__button {
      background-color: $light-success-color;
    }
  }
  &__link {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
