@import "@styles/variables.module.scss";
@import "@styles/_mixins";

.sign-link {
  display: flex;
  align-items: center;
  color: $secondary-color;
  transition: all 0.5s ease;
  &:hover {
    color: $success-color;
  }
  &__icon {
    margin-right: 8px;
    @include phone {
      margin-right: 4px;
    }
  }
}
