@import "@styles/variables.module.scss";
.search-form {
  &__wrapper {
    opacity: 1;
    transition: height 1s ease;
    width: 100%;
    height: auto;
  }
  position: relative;
  margin-top: 15px;
  border-radius: 6px;
  background-color: $success-color;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  button {
    background-color: white;
    color: $success-color;
  }
  &__text-field {
    margin-right: 10px;
  }
  &__submit-button {
    margin-right: 30px;
  }
  &__cancel-button {
    position: absolute;
    top: 10px;
    right: 10px;

    button {
      color: white;
      background-color: $success-color;
      padding: 0;
      border: none;
    }
  }
}

.cancel-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
}

div.hidden {
  opacity: 0;
  height: 1px;
}
