@import "@styles/variables.module.scss";
.card {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: #e3ecf2;
  transition: all 0.5s ease;
  &:hover {
    background-color: white;
    box-shadow: 0px 0px 5px 4px #f2f6f8;
  }
}
