.form-wrapper {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-root {
  width: 50%;
  min-height: 80%;
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.form-item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.form-submit-button {
  margin-top: 20px;
}
