@import "@styles/variables.module.scss";
@import "@styles/_mixins";
.primary-button {
  padding: 0 24px;
  background-color: $success-color;
  transition: all 0.5s ease;
  @include tablet {
    padding: 0 18px;
    font-size: 11px;
  }
  @include phone {
    padding: 0 10px;
    font-size: 9px;
  }
  &:hover {
    background-color: $light-success-color !important;
  }
}
