@import "@styles/variables.module.scss";
@import "@styles/_mixins";

.root {
  margin-bottom: 1rem;
  &__title {
  }
  &__content {
  }
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  @include laptop {
    font-size: 28px;
  }
  @include tablet {
    font-size: 24px;
  }
  @include phone {
    font-size: 20px;
  }
}

.content {
  border-top: 1px solid #e1e5e9;
  border-bottom: 1px solid #e1e5e9;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 24px;
    @include laptop {
      font-size: 20px;
    }
    @include tablet {
      font-size: 18px;
    }
    @include phone {
      font-size: 16px;
    }
  }
  p {
    font-size: 22px;
    text-indent: 30px;
    margin-top: 1.15em;
    margin-bottom: 1.15em;
    @include laptop {
      font-size: 20px;
      text-indent: 25px;
    }
    @include tablet {
      font-size: 17px;
      text-indent: 20px;
    }
    @include phone {
      font-size: 14px;
      text-indent: 17px;
    }
  }
  a {
    text-decoration: none;
    color: $success-color;
  }
  li {
    font-size: 22px;
    @include laptop {
      font-size: 20px;
    }
    @include tablet {
      font-size: 17px;
    }
    @include phone {
      font-size: 14px;
    }
  }
  ul > li {
    &::marker {
      color: $success-color;
    }
  }
  ul,
  ol {
    padding-left: 30px;
    @include laptop {
      padding-left: 25px;
    }
    @include tablet {
      padding-left: 20px;
    }
    @include phone {
      padding-left: 17px;
    }
  }
  ul {
    list-style: square;
  }
  ol {
    list-style: decimal;
  }
  img {
    max-width: 50%;
    @include tablet {
      max-width: 80%;
    }
  }
  p:has(> img) {
    text-align: center;
  }
}
