@import "@styles/variables.module.scss";
@import "@styles/_mixins";
.header {
  margin: 24px 0;
  box-sizing: border-box;
  display: block;
  @include tablet {
    margin: 16px 0;
  }
  &__bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__underline {
    height: 1px;
    position: absolute;
    color: $secondary-color;
    border-bottom-color: #e1e5e9;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    bottom: 0px;
    width: 100%;
  }
}

.top-block {
  display: flex;
  &__links {
    margin-left: auto;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__item:not(:last-child) {
    margin-right: 32px;
    @include hd {
      margin-right: 24px;
    }
    @include tablet {
      margin-right: 16px;
    }
    @include phone {
      margin-right: 8px;
    }
  }
}

.logo {
  max-width: 60%;
  min-width: 45%;
  display: flex;
  align-items: center;
  @include phone {
    max-width: 90%;
  }
  img {
    cursor: pointer;
    width: 300px;
    height: 70px;
    @include laptop {
      width: 210px;
      height: 50px;
    }
    @include phone {
      width: 150px;
      height: 30px;
      max-width: 70%;
    }
  }
  &__description {
    margin-left: 24px;
    padding-left: 24px;
  }
}

.description {
  border-left: 1px solid #c4cdd4;
  align-items: center;
  display: flex;
  @include tablet {
    display: none;
  }
}

.text {
  font-weight: 700;
  line-height: 22px;
  color: $success-color;
  @include laptop {
    line-height: 20px;
    font-size: 16px;
  }
  @include tablet {
    line-height: 18px;
    font-size: 14px;
  }
  @include phone {
    line-height: 12px;
    font-size: 9px;
  }
}
