.content {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.content-list {
  min-width: 35%;
  min-height: 70vh;
  border-right: 1px solid grey;
  padding-right: 15px;
}

.content-card-wrapper {
  padding: 10px;
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  background-color: azure;
  border-radius: 16px;
  border: 1px solid grey;
}

.card-title {
  font-weight: bold;
  font-size: 25px;
}
.card-id {
  font-weight: normal;
  font-size: 20px;
}

.content-item {
  padding-left: 10px;
  padding-right: 10px;
}
