@import "@styles/_mixins";
.root {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.image {
  padding-left: 40px;
  width: 300px;
  height: 70px;
  cursor: pointer;
  @include laptop {
    width: 210px;
    height: 50px;
  }
  @include phone {
    width: 150px;
    height: 30px;
    max-width: 70%;
  }
}
