.app-container {
  display: flex;
  justify-content: center;
}

.container {
  width: 85%;
}

.header {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hr {
  margin-top: 1rem;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid grey;
}
