@import "@styles/_mixins.scss";

$breakpoints: (
  3440px: 48px,
  1268px: 36px,
  1024px: 24px,
  700px: 18px,
);

.root {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;

  justify-content: space-between;
  @each $width, $gap in $breakpoints {
    @media screen and (max-width: $width) {
      gap: $gap 0;
      &__item {
        width: calc((100% - 2 * $gap) / 3);
      }
    }
  }
  &__item {
    @include tablet {
      width: 100%;
    }
  }
}
