.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.app-wrapper {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.input div {
  border: none;
}

.snackbar {
  position: fixed;
  z-index: 1;
  bottom: 2rem;
  right: 1rem;
}
