@import "@styles/_mixins";

.root {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  &__wrapper {
    height: 100%;
    width: 100%;
  }
  &__img {
    width: 100%;
    height: 240px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @include hd {
      height: 210px;
    }
    @include tablet {
      height: 150px;
    }
    @include phone {
      height: 120px;
    }
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.text {
  padding: 32px 40px 40px 40px;
  @include laptop {
    padding: 20px 30px 30px 30px;
  }
  @include phone {
    padding: 15px 24px 24px 24px;
  }
  span {
    display: block;
  }
  &__title {
    margin-bottom: 12px;
    @include phone {
      margin-bottom: 6px;
    }
  }
}

.wrapper {
  flex-direction: column;
  display: flex;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.01em;
  @include phone {
    font-size: 18px;
  }
}

.description {
  @include phone {
    font-size: 13px;
  }
}
