.swiper__wrapper {
  margin-bottom: 2rem;
  height: auto;
}
.swiper {
  height: 100%;
  position: relative;
  &-button-prev {
    color: white !important;
  }
  &-button-next {
    color: white !important;
  }
  &-slide {
    height: auto;
  }
}
