@import "@styles/_mixins";

.root {
  overflow: hidden;

  &:hover {
    background-color: #e3ecf2;
    box-shadow: none;
  }
  &__wrapper {
    padding: 64px 80px;
    @include tablet {
      padding: 35px 40px;
    }
    @include phone {
      padding: 25px 35px;
    }
    width: auto !important;
  }
}

.title {
  font-size: 32px;
  font-weight: 500;
  margin: 20px 0;
  @include phone {
    font-size: 24px;
    margin: 15px 0;
  }
}

.description {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  line-height: 1.6;
  @include laptop {
    line-height: 1.3;
  }
  @include phone {
    font-size: 14px;
  }
}
