@import "@styles/variables.module.scss";
@import "@styles/_mixins.scss";

$breakpoints: (
  3440px: 40px,
  1268px: 30px,
  1024px: 15px,
  700px: 10px,
);

.root {
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
  &:hover {
    color: $success-color;
  }
  &__wrapper {
    @each $width, $padding in $breakpoints {
      @media screen and (max-width: $width) {
        padding: $padding;
        height: calc(100% - 2 * $padding);
      }
    }
    display: flex;
  }

  &__text {
    margin-left: 30px;
    height: 100%;
    @include laptop {
      margin-left: 25px;
    }
    @include tablet {
      margin-left: 20px;
    }
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.text {
  color: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  transition: all ease;
  display: flex;
  align-items: center;
  @include tablet {
    font-size: 20px;
  }
  @include phone {
    font-size: 14px;
  }
}

.img {
  color: $success-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
