@import "@styles/variables.module.scss";
@import "@styles/_mixins";
.link {
  color: $secondary-color;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s ease;
  &:hover {
    color: $success-color;
  }
  @include laptop {
    font-size: 13px;
  }
  @include phone {
    font-size: 9px;
  }
}
