@import "@styles/_mixins";
.sections-navbar {
  overflow: hidden;
  &__list {
    margin-block-end: 0em;
    margin-block-start: 0em;
  }
}
.list {
  display: flex;
  padding-inline-start: 0px;
  &__item {
    &:not(:last-child) {
      margin-right: 40px;
      @include laptop {
        margin-right: 25px;
      }
      @include phone {
        margin-right: 15px;
      }
    }
  }
}
.list-item {
  padding: 21px 0;
  overflow: hidden;
  @include phone {
    padding: 15px 0;
  }
}
