@mixin phone {
  @media (max-width: 699px) {
    @content;
  }
}
@mixin tablet {
  @media (width < 1024px) {
    @content;
  }
}
@mixin laptop {
  @media (width < 1268px) {
    @content;
  }
}
@mixin hd {
  @media (width < 1500px) {
    @content;
  }
}
@mixin fhd {
  @media (min-width: 1500px) {
    @content;
  }
}
